@media all and (max-width:1000px){
	body {
		background-image: url("mario.gif");
		background-color: #f8f8f8;
		width: inherit;
		background-position: top;
		background-repeat: no-repeat;
	}
}
@media all and (min-width:1001px){
	body {
		background-image: url("mario.gif");
		background-color: #f8f8f8;
		background-size: 500px;
		background-position: top;
		background-repeat: no-repeat;
	}
}

* {color: #f8f8f8}